.img{
  width:35%;
}
.control{
  input {
    width: 50% ;
    display: inline-flex ;
  }
}
.price {
  background-color: #eb7413 !important;
  border-color: #eb7413 !important;
  .plus{
    color: #fce3d5;
    margin-right: 1px;
  }
}

