.Navbar{

  &__collaps {
    justify-content: space-between;
  }

}
.Start_icon{
  margin-bottom: 7px;
  margin-right: 34px;

}

  .Cart_icon {
    margin-right: 5px;
    margin-left: 5px;
  }

.linkStarter {
  a{
    padding: 0 135px;
    font-size: 150%;
    margin-left: -22px;
    color: black;
    font-family:"Lato";

  }
}
.Active {
  max-width: 100px;
  position: relative;


  &:after {
    display: block;
    left: 46.655%;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #c9d4e0 transparent transparent transparent;
  }

}

.linkWrapper{
  padding:25px;
  a{
    margin-right: 84px;
    margin-left: -42px;
    font-family: "Lato";
    font-size: 150%;
    color: black;

  }
}

