.about {
  display: block;
  justify-content: space-between;
}

.img {
  width: 30%;
}

.footer {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 2px;
  border-color: #f2f2f2;
  border-style: solid;
}