.about {
  display: block;
  justify-content: space-between;
}

.content {
  display: flex;
  //flex-direction: column;
  //flex-grow: 1;
  .img {
    background-color: #f2f2f2;
    width: 24%;
    margin-bottom: 15px;
    //display: flex;
    //justify-content: space-between;


  }

  .content2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 40px;

    .title {
      font-weight: bold;
      font-size: 36px;
      color: #609AD4;
      //margin
    }

    .totalprice {
      color: #cccccc;
    }

    .about {

    }

  }
}

.footer {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 2px;
  border-color: #f2f2f2;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 2px;

  .box {
    margin-top: 20px;
    padding: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: black;
    display: flex;
    justify-content: space-between;

    .subtotal {
      font-weight: bold;
      font-size: 25px;
    }


  }
}

.close {

  height: 45px;
  margin-top: 190px;

  input {
    border: 2px solid gray;
  }

  .icons {
    color: gray;
  }
}